version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  producer:
    build:
      context: ./producer
    container_name: producer
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: "5672"
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password
      EXCHANGE_NAME: calc_exchange
      MAIN_QUEUE_NAME: calc_queue
      DLX_NAME: calc_dlq_exchange
      DLQ_NAME: calc_dlq
    restart: unless-stopped

  consumer:
    build:
      context: ./consumer
    container_name: consumer
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: "5672"
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password
      EXCHANGE_NAME: calc_exchange
      MAIN_QUEUE_NAME: calc_queue
      DLX_NAME: calc_dlq_exchange
      DLQ_NAME: calc_dlq
    restart: unless-stopped

networks:
  default:
    name: rabbitmq-demo-net


